### Example user template template
### Example user template

# IntelliJ project files
./.pytest_cache
*.iml
out
/report/
/logs/
./historyReport
**/*.pyc
.idea
/useless_file/
*apiResults.json
/history/
!/test_case/test_demo.py
!/apiResults.json
**/__pycache__/
/.pytest_cache
/.idea!/logs/